.footer {
    background-color: rgb(110, 109, 116);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 200px;
    
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    
  }

  .fontStyle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
  }
  
  /* Add styles for social network icons and email address */
  