.login-container {
  height: 200px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  
}

.login-container div {
  margin-bottom: 20px;
}

.login-container label {
  font-size: 18px;
  font-weight: bold;
}

.login-container input[type='text'],
.login-container input[type='password'] {
  background-color: rgb(233, 233, 233);
  
  padding: 5px;
  border-radius: 30px;
  height: 25px;
  width: 200px;
  border: none;
}

.login-container input[type='checkbox'] {
  margin-right: 5px;
}

.login-container button {
  background-color: rgb(29, 54, 29);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
